* {
    margin: 0;
    padding: 0;
}

.Map_Container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.Button_Remove_AllMarkers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000; 
    top: 10px; 
    left: 100px;
    padding: 10px 50px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    border: 1px solid #c2bfba;
}

